name = "CerbLean"
version = "0.1.0"
defaultTargets = ["CerbLean", "cerblean_pp", "cerblean_test", "cerblean_testbatch", "cerblean_interp", "cerblean_memtest"]
preferReleaseBuild = true

[[require]]
name = "mathlib"
git = "https://github.com/leanprover-community/mathlib4"
rev = "v4.24.0"

[[lean_lib]]
name = "CerbLean"

[[lean_exe]]
name = "cerblean_test"
root = "CerbLean.Test"

[[lean_exe]]
name = "cerblean_testbatch"
root = "CerbLean.TestBatch"

[[lean_exe]]
name = "cerblean_pp"
root = "CerbLean.TestPrettyPrint"

[[lean_exe]]
name = "cerblean_memtest"
root = "CerbLean.TestMemory"

[[lean_exe]]
name = "cerblean_interp"
root = "CerbLean.TestInterpreter"

[[lean_exe]]
name = "cerblean_genproof"
root = "CerbLean.GenProof"
