name = "CToLean"
version = "0.1.0"
defaultTargets = ["CToLean"]

[[lean_lib]]
name = "CToLean"

[[lean_exe]]
name = "ctolean_test"
root = "CToLean.Test"

[[lean_exe]]
name = "ctolean_testbatch"
root = "CToLean.TestBatch"

[[lean_exe]]
name = "ctolean_pp"
root = "CToLean.TestPrettyPrint"
