name = "CToLean"
version = "0.1.0"
defaultTargets = ["CToLean", "ctolean_pp", "ctolean_test", "ctolean_testbatch"]

[[lean_lib]]
name = "CToLean"

[[lean_exe]]
name = "ctolean_test"
root = "CToLean.Test"

[[lean_exe]]
name = "ctolean_testbatch"
root = "CToLean.TestBatch"

[[lean_exe]]
name = "ctolean_pp"
root = "CToLean.TestPrettyPrint"

[[lean_exe]]
name = "ctolean_memtest"
root = "CToLean.TestMemory"
